<div class="m-5">
  <div *ngIf="!campaignPublicLink">
    <h3>Campaign not found</h3>
    <h5>
      Please make sure you have the correct link or contact the campaign's
      administrator
    </h5>
  </div>
  <div *ngIf="!!campaignPublicLink" class="d-flex flex-column">
    <h1>Campaign:{{ campaignPublicLink.campaign.name }}</h1>
    <app-voting
      *ngIf="isVotingAllowed && isCampaignAcceptingVotes"
      [campaign]="campaignPublicLink.campaign"
      [voucherId]="voucherId"
      [user]="user"
    ></app-voting>
    <div
      class="w-100 d-flex flex-column align-items-center"
      *ngIf="!isVotingAllowed"
    >
      <h5 class="text-danger">
        Permissions to vote in this campaign not found
      </h5>
      <p>
        Please make sure you have the correct link or contact the campaign's
        administrator
      </p>
    </div>
    <div
      class="w-100 d-flex flex-column align-items-center"
      *ngIf="!isCampaignAcceptingVotes"
    >
      <h5 class="text-danger">Campaign is not accepting votes anymore</h5>
      <p>
        Please make sure you have the correct link or contact the campaign's
        administrator
      </p>
    </div>
  </div>
</div>
