<div class="m-5">
  <div
    class="d-flex flex-column align-items-center"
    *ngIf="!campaignPublicLink"
  >
    <h3 class="text-danger">Campaign not found</h3>
  </div>
  <div *ngIf="!!campaignPublicLink" class="d-flex flex-column">
    <div class="mb-5">
      <h1>Campaign: {{ campaignPublicLink.campaign.name }}</h1>
    </div>
    <app-voting
      *ngIf="isVotingAllowed && isCampaignAcceptingVotes"
      [campaign]="campaignPublicLink.campaign"
      [voucher]="voucher"
      [user]="user"
    ></app-voting>
    <div
      class="w-100 d-flex flex-column align-items-center"
      *ngIf="!isVotingAllowed || !isCampaignAcceptingVotes"
    >
      <h5 class="text-danger" *ngIf="!isVotingAllowed">
        Permissions to vote in this campaign not found
      </h5>
      <h5 class="text-danger" *ngIf="!isCampaignAcceptingVotes">
        Campaign is not accepting votes anymore
      </h5>
    </div>
  </div>
  <div
    class="w-100 d-flex flex-column align-items-center"
    *ngIf="!campaignPublicLink || !isVotingAllowed || !isCampaignAcceptingVotes"
  >
    <p>
      Please make sure you have the correct link or contact the campaign's
      administrator
    </p>
  </div>
</div>
