<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex align-items-baseline ms-3">
      <a class="navbar-brand fw-bold" routerLink="/"> librevote </a>
      <div *ngIf="!!user">
        <a class="navbar-brand" [routerLink]="routeNames.campaigns.index">
          Campaigns
        </a>
      </div>
      <div *ngIf="!!user">
        <a
          class="navbar-brand"
          [routerLink]="[routeNames.vote.index, routeNames.vote.search.index]"
        >
          Search
        </a>
      </div>
      <div *ngIf="!!user">
        <a class="navbar-brand" [routerLink]="[routeNames.invites.index]">
          My invites
        </a>
      </div>
    </div>
    <div *ngIf="!user" class="d-flex">
      <div class="container">
        <a
          class="nav-link active"
          [routerLink]="routeNames.login.index"
          aria-current="page"
          >Login</a
        >
      </div>
      <div class="container">
        <a
          class="nav-link active"
          [routerLink]="routeNames.register.index"
          aria-current="page"
          >Register</a
        >
      </div>
    </div>
    <div *ngIf="!!user" class="d-flex align-items-baseline">
      <span class="fw-bold">{{ user.name }}</span>
      <button (click)="logOut()" class="btn">Log out</button>
    </div>
  </div>
</nav>
