<div class="m-5 d-flex flex-column" *ngIf="!!campaign">
  <div *ngIf="this.isUserAdmin">
    <a
      class="btn btn-outline-primary m-3 ms-0"
      [routerLink]="[
        '/',
        routeNames.campaigns.index,
        routeNames.campaigns.form.index,
        campaign.id
      ]"
      *ngIf="campaign.isBeforeVotingStart()"
      aria-current="page"
      >Edit</a
    >
    <button class="btn btn-outline-danger" (click)="delete()">Delete</button>
  </div>
  <div class="mb-3">
    <h1>Campaign: {{ campaign.name }}</h1>
    <div class="d-flex flex-column">
      <span>
        Voting starts:
        {{ campaign.startDate?.toLocaleString() ?? "(Manual start)" }}
      </span>
      <span>
        Voting ends: {{ campaign.endDate?.toLocaleString() ?? "(Manual stop)" }}
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6" *ngIf="this.isUserAdmin">
      
      <app-campaign-encryption-keys
        [campaign]="campaign"
      ></app-campaign-encryption-keys>
    </div>
    <app-campaign-voter-input
      class="col-lg-6"
      *ngIf="isInviteOnlyCampaign && campaign.isBeforeVotingStart()"
      [campaign]="campaign"
    ></app-campaign-voter-input>
    <app-campaign-voting-control
      class="col-6"
      *ngIf="
        !!this.campaign.settings?.isManualVoteStartEndEnabled &&
        this.isUserAdmin
      "
      [campaign]="this.campaign"
      [onStartStopCallback]="onVotingStartStopCallback.bind(this)"
    ></app-campaign-voting-control>
    <div class="col-6" *ngIf="this.isUserAdmin">
      <app-campaign-vote-audit
        *ngIf="!this.campaign.isBeforeVotingStart()"
        [campaign]="this.campaign"
      ></app-campaign-vote-audit>
    </div>
  </div>
</div>
