<div class="m-5 d-flex flex-column" *ngIf="!!campaign">
  <div class="d-flex mb-3" *ngIf="isUserAdmin">
    <a
      class="btn btn-outline-primary me-2"
      [routerLink]="[
        '/',
        routeNames.campaigns.index,
        routeNames.campaigns.form.index,
        campaign.id
      ]"
      *ngIf="campaign.isBeforeVotingStart()"
      aria-current="page"
      >Edit</a
    >
    <a
      class="btn btn-outline-primary me-2"
      [routerLink]="[
        '/',
        routeNames.campaigns.index,
        routeNames.campaigns.results.index,
        campaign.id
      ]"
      *ngIf="campaign.isAfterVotingEnd()"
      aria-current="page"
      >View results</a
    >
    <div class="flex-grow-1"></div>
    <button class="btn btn-outline-danger" (click)="delete()">Delete</button>
  </div>
  <div class="mb-3">
    <h1>Campaign: {{ campaign.name }}</h1>
    <h5 *ngIf="!!campaign.publicLink">
      Public link:
      <span class="btn-link h5 clickable" (click)="openCampaignPublicLink()">{{
        qualifiedPublicLink
      }}</span>
    </h5>
    <div class="d-flex flex-column">
      <span>
        Voting starts:
        {{ getDisplayableDate(campaign.startDate) }}
      </span>
      <span> Voting ends: {{ getDisplayableDate(campaign.endDate) }} </span>
    </div>
  </div>

  <div class="row">
    <app-campaign-encryption-keys
      class="col-lg-6"
      *ngIf="isUserAdmin"
      [campaign]="campaign"
    ></app-campaign-encryption-keys>
    <app-campaign-voter-input
      class="col-lg-6"
      *ngIf="isInviteOnlyCampaign && !campaign.isAfterVotingEnd()"
      [campaign]="campaign"
    ></app-campaign-voter-input>
    <app-campaign-voting-control
      class="col-6"
      *ngIf="!!campaign.settings?.isManualVoteStartEndEnabled && isUserAdmin"
      [campaign]="campaign"
      [onStartStopCallback]="onVotingStartStopCallback.bind(this)"
    ></app-campaign-voting-control>
    <app-campaign-vote-audit
      class="col-6"
      *ngIf="!campaign.isBeforeVotingStart()"
      [campaign]="campaign"
      [isUserAdmin]="isUserAdmin"
    ></app-campaign-vote-audit>
    <app-campaign-voucher-dispensery
      class="col-6"
      [campaign]="campaign"
      *ngIf="isVoucherCampaign && campaign.isVotingActive()"
    ></app-campaign-voucher-dispensery>
  </div>
</div>
