<button
  id="voucher-display-modal-open-button"
  data-bs-toggle="modal"
  data-bs-target="#voucher-display-modal"
  style="display: none"
></button>
<div
  class="modal fade"
  id="voucher-display-modal"
  tabindex="-1"
  aria-labelledby="modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Voucher</h5>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column align-items-center">
          <canvas id="qrcode-canvas" class="w-50 h-auto m-5"></canvas>
          <div
            class="d-flex flex-column align-items-center"
            *ngIf="!!voucherContainer"
          >
            <a href="{{ voucherContainer.votingLink }}" class="h5">{{
              voucherContainer.votingLink
            }}</a>
            <span
              >Voucher is valid until
              {{ formatDate(voucherContainer.voucher.validUntilDate) }}</span
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          id="voucher-display-modal-close-button"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
