<div class="container" id="form-container">
  <form [formGroup]="registerForm" class="d-flex flex-column">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        id="name"
        class="form-control"
        type="text"
        formControlName="name"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        id="email"
        class="form-control"
        type="email"
        formControlName="email"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
      />
    </div>
    <button (click)="register()" class="btn btn-primary">Register</button>
  </form>
</div>
