#app-root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.clickable:hover {
  cursor: pointer;
}

.clickable-bg:hover {
  background-color: lightgray;
}

.loading-indicator {
  animation: 2s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275) rotate;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}
