<div class="container campaigns-list m-2">
  <a
    class="btn btn-outline-primary my-3"
    routerLink="./form"
    aria-current="page"
    >Create new</a
  >
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Pub key</th>
        <th scope="col">Staff</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let campaign of campaigns"
        (click)="open(campaign.id)"
        class="clickable"
      >
        <td>{{ campaign.name }}</td>
        <td>
          {{ getDisplayablePubKey(campaign.pubKey) }}
        </td>
        <td>
          <span *ngFor="let user of campaign.campaignUsers; let last = last"
            >{{ user.user.name }}{{ !last ? ", " : "" }}</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
