<div class="m-5">
  <div class="container-fluid d-flex flex-column">
    <div class="">
      <h1>Campaign form</h1>
      <div>
        <button (click)="save()" class="btn btn-outline-primary">Save</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-6">
        <h3>Main infomarmation</h3>
        <form class="d-flex flex-column" [formGroup]="campaignForm">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              id="name"
              class="form-control"
              type="text"
              formControlName="name"
              required
              [ngClass]="{ 'is-invalid': isInputInvalid(name) }"
            />
            <div *ngIf="isInputInvalid(name)" class="text-danger">
              <div *ngIf="name.errors?.['required']">Field is required</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="publicLink" class="form-label">Public link</label>
            <input
              type="text"
              class="form-control"
              id="publicLink"
              formControlName="publicLink"
              required
              [ngClass]="{ 'is-invalid': isInputInvalid(publicLink) }"
              (blur)="onPublicLinkSubmit()"
            />
            <div *ngIf="isInputInvalid(publicLink)" class="text-danger">
              <div *ngIf="publicLink.errors?.['required']">
                Field is required
              </div>
              <div *ngIf="publicLink.errors?.['pattern']">Field is invalid</div>
              <div *ngIf="publicLink.errors?.['taken']">
                Public link is taken
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-6">
              <label for="startDate" class="form-label">Voting start</label>
              <input
                type="datetime-local"
                class="form-control"
                id="startDate"
                formControlName="startDate"
                required
                [ngClass]="{ 'is-invalid': isInputInvalid(startDate) }"
              />
              <div *ngIf="isInputInvalid(startDate)" class="text-danger">
                <div *ngIf="startDate.errors?.['required']">
                  Field is required
                </div>
                <div *ngIf="startDate.errors?.['overlap']">
                  Start date is after end date
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <label for="endDate" class="form-label">Voting end</label>
              <input
                type="datetime-local"
                class="form-control"
                id="endDate"
                formControlName="endDate"
                required
                [ngClass]="{ 'is-invalid': isInputInvalid(endDate) }"
              />
              <div *ngIf="isInputInvalid(endDate)" class="text-danger">
                <div *ngIf="endDate.errors?.['required']">
                  Field is required
                </div>
                <div *ngIf="endDate.errors?.['overlap']">
                  End date is before end date
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xl-6">
        <h3>Staff</h3>
        <app-campaign-form-users-input
          *ngIf="!!campaign?.campaignUsers"
          [campaignUsers]="campaign.campaignUsers"
        ></app-campaign-form-users-input>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-6">
        <h3>Candidates</h3>
        <app-campaign-form-candidates-input
          *ngIf="!!campaign?.candidates"
          [campaign]="campaign"
          [candidates]="campaign.candidates"
        ></app-campaign-form-candidates-input>
      </div>
      <div class="col-xl-6">
        <h3>Public/private keys</h3>
        <span>TODO: add keys generation</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-6">
        <app-campaign-form-settings-input
          *ngIf="!!campaign?.settings"
          [(settings)]="campaign.settings"
          [onChangeCallback]="onSettingsChange.bind(this)"
        ></app-campaign-form-settings-input>
      </div>
    </div>
  </div>
</div>
